<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Deletion success!</title>
    <div th:replace="partials :: bootstrap-css"/>
</head>
<body>

<nav th:replace="partials :: navbar"/>
<nav th:replace="partials :: header"/>
<!--this will have a message that ______ post was deleted-->

<!--buttons to redirect to to different places-->
<br>
<br>
<h3 style="text-align: center">Post #<strong th:text="${id}"></strong> has been deleted.</h3>

<div style="text-align: center"><a href="/posts/">View All Posts</a></div>
</body>
</html>