<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${post.title}"></title>
    <div th:replace="partials :: bootstrap-css"/>
</head>
<body>

<nav th:replace="partials :: navbar"/>
<nav th:replace="partials :: header"/>

<form th:action="@{'/posts/' + ${post.id} + '/edit'}" th:method="post" th:object="${post}">
    Date:
    <input th:field="*{date}"/>
    <br/>
    Title:
    <input th:field="*{title}"/>
    <br/>
    Description:
    <input th:field="*{description}"/>
    <br/>
    Body:
    <textarea th:field="*{body}" cols="72" rows="5"></textarea>
    <br/>
    <input type="submit"/>
</form>

<div th:replace="partials :: footer"/>
</body>
</html>