<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <div th:replace="partials :: bootstrap-css"/>
</head>
<body>

<nav th:replace="partials :: navbar"/>
<nav th:replace="partials :: header"/>

<h2>Latest Blogs</h2>
<div class="d-flex row">
    <div class="col-4" th:each="post : ${posts}">
        <div class="card m-4" style="width: 20rem; height: 26rem;">
            <img class="card-img-top" src="../static/img/1.jpg" alt="Card image cap">
            <div class="title font-weight-bold text-center" th:text="${post.title}"></div>
            <div class="description text-center" th:text="${post.description}"></div>
            <a class="text-center" th:href="@{'/posts/' + ${post.slug}}">Read More</a>
        </div>
    </div>
</div>
<div th:replace="partials :: footer"/>
</body>
</html>